@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    color: black;
    display: flex;
    font-family: 'Muli', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    padding: 20px;
    margin: 6px;
    overflow: hidden;
    background-color: rebeccapurple
}

h1{
    margin: 0px 0px 27px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    background-color: pink;
    padding: 17px;
    width: 361px;
    max-width: 100%;
    box-shadow: 0px 4px 40px red;
}

.result{
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 17px;
    position: relative;
    letter-spacing: 18px;
    padding: 12px 10px;
    height: 40px;
    width: 100%
}

.result #get-result-here{
    height: 100%;
    word-wrap: break-word;
    max-width: calc(100% - 50px);
    overflow-y: scroll;
    height: 100%;
}

#get-result-here::-webkit-scrollbar{
    width: 1rem;
}

.result .btn{
    top: 12px;
    right: 5px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    position: absolute;
}

.list-of-type-of-password{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.btn{
    border: none;
    background: blue;
    color: white;
    font-size: 16px;
    padding: 8px 12px;
    cursor: pointer;
}
.btn-last{
    width: 100%;
    display: block;
    border: none;
    background: blue;
    color: white;
    font-size: 16px;
    padding: 8px 12px;
    cursor: pointer;
}